<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Logged-in</title>
</head>
<body>
<h1 align="center" style="color:red">Welcome to Sporty Shoes</h1>
<h2 style="color:blue">Admin Logged-in</h2>


<br>
<ul>
<li><h4><a href="/userdisplay">Registered Users</a></h4></li>

<li><h4><a href="/productcat">Product Categorization</a></h4></li>

<li><h4><a href="/userorder">Purchase Reports</a></h4></li>
</ul>
<br>
<h4><a href="/index">Log-out</a></h4>
</body>
</html>