<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1 align="center" style="color:red">Welcome to Sporty Shoes</h1>
<h2 style="color:blue">Admin Login</h2>
<br>
<form action="/admin">
 Admin Userid:&nbsp; <input type="email" id="username" name="username" required pattern="[sridharchennur@gmail.com]{24}" placeholder="xxx@email.com">&nbsp;
 Admin Passowrd:&nbsp;<input type="password" id="password" name="password" required pattern="[admin@123]{9}">&nbsp;
  <input type="submit" value="Sign-in">
</form>


</body>
</html>