<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Sporty Shoes</title>
<style>
th, td {
  border-style:solid;
  border-color: #96D4D4;
}
p {
font-family: Verdana;
}
</style>
</head>
<body>
<h1 align="center" style="color:red">Welcome to Sporty Shoes</h1>
<h2 style="color:Green">Product Categories</h2>
<ul>
  <li><h4 style="color:blue">Nike</h4></li>
   <li><h4 style="color:blue">Reebok</h4></li>
    <li><h4 style="color:blue">Woodland</h4></li>
     <li><h4 style="color:blue">Puma</h4></li>
      <li><h4 style="color:blue">Action</h4></li>
       <li><h4 style="color:blue">Bata</h4></li>
        <li><h4 style="color:blue">Redchef</h4></li>
</ul>
<P><a href="/adminlogin"><b>Admin Login</b></a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/newuser"><b>User sign-up</b></a>||&nbsp;&nbsp;<a href="/neworder"><b>Place an Order</b></a></P><br>
</body>
</html>